@supports (background: url('/web-images/eight-bg.webp')) {
    .days-inner {
        background: url('/web-images/eight-bg.webp') bottom center / 100vw 45% no-repeat;
    }
    
    @media (max-width: 1440px) {
        .days-inner {
            background: url('/web-images/eight-bg.webp') bottom center / auto 45% no-repeat;
        }
    }
    
    @media (max-width: 992px) {
        .days-inner {
            background: url('/web-images/eight-bg.webp') bottom center / auto 32% no-repeat;
        }
    }

    @media (max-width: 576px) {
        .days-inner {
            background: url('/web-images/eight-mob.webp') bottom center / 100% 40% no-repeat;
        }
    }
    @media (max-width: 475px) {
        .days-inner {
            background: url('/web-images/eight-mob.webp') bottom center / 100% 23% no-repeat;
        }
    }
}
.days-inner {
    background: url('/src/img/eight-bg.jpg') bottom center / 100vw 45% no-repeat;
    margin-bottom: -1px;
}
.eight {
    padding: 280px 0 160px 175px;
    &__content {
        width: 45%;
        margin: 0 auto;
    }
}

@media (max-width: 1440px) {
    .eight {
        padding: 290px 0 160px 106px;
        &__content {
            width: 50%;
            margin: 0 auto;
        }
    }
    .days-inner {
        background: url('/src/img/eight-bg.jpg') bottom center / auto 45% no-repeat;
        margin-bottom: -1px;
    }
}
@media (max-width: 1200px) {
    .eight {
        padding: 290px 0 120px 0;
        &__content {
            width: 60%;
            margin: 0 auto;
        }
    }
}

@media (max-width: 992px) {
    .eight {
        padding: 150px 0 64px 0;
        &__content {
            width: 100%;
            margin: 0 auto;
        }
    }
    .days-inner {
        background: url('/src/img/eight-bg.jpg') bottom center / auto 32% no-repeat;
        margin-bottom: -1px;
    }
}



@media (max-width: 576px) {
    .eight {
        padding: 124px 0 44px 0;
        &__content {
            width: 100%;
            margin: 0 auto;
        }
    }
    .days-inner {
        background: url('/src/img/eight-mob.jpg') bottom center / 100% 40% no-repeat;
        margin-bottom: -1px;
    }
}
@media (max-width: 475px) {
    .eight {
        padding: 124px 0 44px 0;
        &__content {
            width: 100%;
            margin: 0 auto;
        }
    }
    .days-inner {
        background: url('/src/img/eight-mob.jpg') bottom center / 100% 23% no-repeat;
        margin-bottom: -1px;
    }
}

