@supports (background: url('/web-images/second/second-bg.webp')) {
    .start {
        background: url('/web-images/second/second-bg.webp') center 448px / cover no-repeat;  
    }
    @media (max-width: 992px) {
        .start {
            background: url('/web-images/second/second-bg.webp')  center 366px / cover no-repeat;
        }
    }

    @media (max-width: 576px) {
        .start {
            background: url('/web-images/second/second-bg-mob.webp')  center 287px / cover no-repeat;
        }
    }
}
.start {
    
}

@media (max-width: 1200px) {
    .start {
       
    }
}

@media (max-width: 992px) {
    .start {
        
    }
}

@media (max-width: 768px) {
    .start {
        
    }
}

@media (max-width: 576px) {
    .start {
        
    }
}

